@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --bg-color: #212326;
    --main-color: #6103ce;
    --white: #FFF;
    --tb-bg: #747875;
}

body {
    background-color: var(--bg-color);
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    color: var(--main-color);

}

header {

    width: 90vw;
    height: 5vh;
    margin: 10px auto 10px auto;
}

h1 {
    text-align: center;
    color: var(--main-color);
    font-size: 2em;
}

h2 {
    padding: 5px;
    text-align: center;
    color: var(--white);
}

main {
    width: 100vw;
    margin: 0 auto;
}

footer {
    width: 100vw;
    margin: 5px auto;
    align-content: center;
    clear: both;
    position: fixed;
    bottom: 0;
}

p {
    margin: 0 auto;
    text-align: center;
}

.board {
   width: 90vw;
   height: 15vh;
   margin: 0px auto 5px auto;
   border-radius: 10px;

   color: var(--white);
   background-color: var(--main-color);
}

.table {
    background-color: var(--tb-bg);
}

#number {
    width: 40%;
}